/* my first css */

body {
    font-family: cursive;
    background-color:#F43086; 
}

img, h1 {
    border: 5px dotted #05B6C5;
}


blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-style: italic;
    text-align: center;

}

cite {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.bigbold {
    font-weight: bold;
    font-size: 1.4rem;
}

.fantasyFont {
    font-family:fantasy;
    font-size: 1.7rem;
}

ul a:link {
    font-weight: bold;
    text-decoration: wavy;
    color: #FF89B4;
}

a:visited {
    color: #f5f4f4;
    font-weight: normal;
    font-size: 2rem;
}

a:hover {
    color: #FFFFFF;
    text-decoration: underline;
    background-color: #0a0a0a;
}

a.UM:link {
    color:#F47321;
}
a.PSU:link {
    color:#041E42;
}

a.UA:link {
    color: #9E1B32;
}


a.UNC:link {
    color: #7BAFD4;
}